body {
    background-color: rgb(48, 47, 47);
    padding-top: 10px;
	width: 1420px;
	margin: 0 auto;
    position: relative;
}

.main {
    width: 100%;
    text-align: center;
}

.header {
    background-color: rgb(144, 144, 144);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1420px;
    height: 110px;
}

.elmts-main {
    width: 1100px;
    height: 600px;
    display: inline-block;
}

.elmts{
    background-color: rgb(144, 144, 144);
    padding-top: 10px;
    padding-bottom: 10px;
}

.ombre {
    box-shadow: 8px 8px 12px #000000;
    border-radius: 10px;
}

.dof42 {
    height: 110px;
}

.padding-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-right {
    width: 300px;
    height: 100%;
    float: right;
}

.top {
    position: absolute;
    top: 0px;
    right: 0px;
}

.loupe {
    width: auto;
    height: auto;
}

.reload {
    height: auto;
    width: 20px;
    float: right;
    margin-right: 10px;
}

.close {
    height: auto;
    width: 20px;
    position: relative;
    margin-right: 5px;
    left: 270px;
    bottom: 60px;
}

.left {
    float:left;
    background-color: rgb(144, 144, 144);
    width: 150px;
    height: 450px;
}

.left img {
    padding-bottom: 15px;
    width: 70px;
}

.right {
    float: right;
    background-color: rgb(144, 144, 144);
    width: 150px;
    height: 450px;
}

.right img {
    padding-bottom: 15px;
    width: 70px;
}

.brick {
    background-image: url("./resources/brick.jpg");
    width: 140px;
    height: 70px;
    margin: auto;
}

.box {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box>* {
    flex: 1 1 80px;
}

.cluster {
    width: 1050px;
    height: 600px;
    transform: scale(0.1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.greenbox {
	float: left;
	width: 510px;
	height: 170px;
	position: absolute;
	top: 700px;
	left: -42px;
	background-color: rgb(136, 255, 137);
    font-family: Times;
    font-size: 20px;
}

.entrez {
    font-size: 50px;
}

.border-red {
    border: 5px solid red; 
    border-radius: 10px;
}

.shadowtxt {
    text-shadow: 15px 5px 3px rgb(255, 166, 0) !important;
}

.italic {
    font-style: italic;
}

.margin-left-15 {
    margin-left: 15px;
}

input {
    min-width: 70%;
    max-width: 70%;
}

.big-red {
    color: red;
    font-size: 60px;
    text-align: center;
}

#terrain_de_jeu { 
    height:90%;
    width:90%;
    position:absolute;
}
.monstre
{
  background-color:yellow; 
  position:absolute;
}

.win {
    width: 100%;
    height: 100%;
}

.norminet {
    width: 50%;
    height: 100%;
}

.cluster-big {
    width: 1050px;
    height: 600px;
}