nav {
    background-color: black;
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    float: left;
    margin: auto;
    padding: 0;
    background-color: black;
}
nav li a {
    display: block;
    width: auto;
    color: white;
    text-decoration: none;
    padding: 5px;
}
nav li a:hover {
    color: rgb(111, 0, 255);
}
nav ul li ul {
    display: none;
}
nav ul li:hover ul {
    display: block;
}
nav li:hover ul li {
    float: none;
}