body {
    background-color: rgba(53, 53, 175, 0.801);
    background-image: url('https://images.vexels.com/media/users/3/153023/isolated/preview/6e09b0e7d2a73f9c6686e653b92fed5f-atom-school-icon-by-vexels.png');
    background-size: 10vw 10vw;
    background-position: center top;
    background-repeat: no-repeat;
}

tr {
    position: relative;
    height: 3vh;
    width: 2vw;
}

td {
    vertical-align: top;
    text-align: center;
    height: 3vh;
    width: 3.9vw;

}

.title-elmt {
    font-size: 0.5vw;
}

.left {
    top: 0px;
    
}

.num {
    font-size: 0.5vw;
    bottom: 0px;
    text-align: left;
    padding-left: 5px;
}

.symbol {
    font-size: 1vw;
}

.masse {
    font-size: 0.5vw;
    top: 0px;
    text-align: right;
    padding-right: 5px;
}

.alcalins {
    background-color: rgba(245, 14, 14, 0.623);
}

.alcalino-terr {
    background-color: rgba(255, 230, 1, 0.637);
}

.lanthanides {
    background-color: rgba(230, 137, 230, 0.699);
}

.metx-transition {
    background-color: rgba(248, 73, 111, 0.685);
}

.metx-pauvre {
    background-color: gray;
}

.metalloide {
    background-color: rgba(51, 56, 19, 0.664);
}

.no-metx {
    background-color: rgba(0, 233, 0, 0.664);
}

.halogenes {
    background-color: rgba(255, 255, 0, 0.644);
}

.gaz-noble {
    background-color: rgba(0, 255, 255, 0.616);
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-center {
    margin: 0 auto;
}

.padding-top {
    padding-top: 100px;
    padding-bottom: 100px;
}